#bar {
	display:block;
	width: 100%;
	background-color:#333;
	overflow:auto;
}

body {
	margin:0 0 30px 0;
}

.wrap {
	max-width: 1250px;
	margin: 0 auto;
	background-color:#f5f5f5;
}

.main-page-title h1 {
		font-family:"Arial";
		font-size:80px;
		color:#777;
		text-align:center;
		margin:80px auto;
		width:50%;
		font-style:italic;
		font-weight:300;
}

.main-page-title p {
	font-family:"Georgia";
		font-size:25px;
		color:#555;
		text-align:center;
		margin:20px auto;
		width:70%;
		font-style:italic;
}

.page-title {
	text-align:center;
	font-size:50px;
	width:75%;
	margin: 0 auto;
	font-family: "Verda";
    	color: #797;
    	font-style: italic;
}

.page-title h2 {
	margin:0;
	padding:75px 0 30px 0;
}

.entry {
	padding: 45px 0 0 0;
}

.entry p {
	width: 66%;
	margin: 30px auto 0 auto;
	font-family: sans-serif;
	font-size:22px;
	color:#222;
	line-height:32px;
	font-weight:100;
}

h3 {
	font-family:"Georgia";
	font-size:25px;
	width:85%;
	margin: 15px auto 0 auto;
}

h4 {
	font-family:"Verda";
	font-size:45px;
	text-align: center;
	margin: 15px auto 0 auto;
	color: #797;
	font-style: italic;
	margin:25px 0;
}

.entry h4 {
	width: 66%;
	margin: 30px auto 0 auto;
	font-family: "Arial";
	font-size:24px;
	color:#111;
	line-height: 32px;
}

.entry img {
	max-width:100%;
}

#logo {
	font-size: 20px;
    font-family: "Lucida Console";
    font-style: italic;
    font-weight: 100;
	color:#eee;
	float: left;
    width: 48%;
    padding: 0 0 0 2%;
}

ul {
	float:right;
	list-style: none;
	margin:0;
	padding:0;
	width:50%;
}

li {
	transition: .33s ease;
	float:right;
	padding: 15px 0;
	width:20%;
	color:#eee;
	font:menu;
	font-size:14px;

}

a {
	color:#eee;
	transition: .33s ease;
	text-decoration:none;
}

a:hover{
	color:#e23;
	text-decoration:underline;
}

.wrap a {
	color: #c1c1e1;
}

.wrap a:hover {
	color:#a1a1c1;
	text-decoration: underline;
}

#logo a:hover{
	color:#eee;
	text-decoration: none;
}

#CV {
	font:menu;
	font-size: 55px;
	padding:50px 0 0 0;
	text-align:center;
}

#CV a:hover{
	color:#eee;
}

.video-entry{
	display:flex;
	padding: 30px 40px 180px 40px;
}

.video {
	float:left;
}

.video iframe {
	width:560px;
	height:315px;
}

.video-description {
	float:right;
}

.video-description p {
	font-family: "Helvetica";
	font-size:18px;
	margin: 0px 0 0 35px;
}

.video-description h2 {
	margin: 0 0 0 35px;
	padding: 15px 0;
	width: 66%;
	line-height: 1.5
}

.game {
	margin:0 auto;
	width:900px;
}

.video-background {
	animation-name: fadeIn;
	animation-duration:10s;
	position: absolute;
	height:100%;
	width:100%;
	overflow:hidden;
	z-index: -100;

}

.video-background video {
	height:100%;
	width:100%;
	object-fit:cover;
	z-index:-100;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
